{% set route = app.request.attributes.get('_route') %}
{% set authenticated = is_granted('IS_AUTHENTICATED_FULLY') %}
{% trans_default_domain 'messages' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div id="main-container">
        	<div id="menu-container">
        	{% if authenticated %}
                <p>
                	{{'base.logged_as'|trans}} <b>{{app.user}}</b> - <a href="/logout">{{'base.logout'|trans}}</a> 
                </p>
            {% endif %}
        		<p>
        			  <a href="/" class="{{ (route == 'homepage') ? 'active' : '' }}">{{ 'base.menu.main_page'|trans }}</a> | <a href="/products" class="{{ route == 'products' ? 'active' : '' }}">{{ 'base.menu.product_list'|trans }}</a>
        	{% if authenticated %}
                	 | <a href="/admin/new-product" class="{{ route == 'new_product' ? 'active' : '' }}">{{ 'base.menu.add_product'|trans }}</a>
            {% else %}
            	     | <a href="/login" class="{{ route == 'login' ? 'active' : '' }}">{{ 'base.login'|trans }}</a>
            {% endif %}
            	</p>
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
