{% extends 'base.html.twig' %}
{% set sortOptions = { 'sort': app.request.query.get('sort'), 'direction': app.request.query.get('direction') } %}
{% trans_default_domain 'messages' %}

{% block body %}
<div class="navigation">{{ knp_pagination_render(pagination) }}</div>
    <table id="product-list">
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'product_list.table.name'|trans, 'name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'product_list.table.price'|trans, 'price') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'product_list.table.owner'|trans, 'owner') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'product_list.table.date'|trans, 'datetime', sortOptions) }}</th>
        </tr>
        {% for product in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ product.name }}</td>
            <td>{{ product.price|number_format(2, ',', ' ') }}</td>
            <td>{{ product.owner }}</td>
            <td>{{ product.datetime|date("Y-m-d") }}<br/>{{ product.datetime|date("H:i:s") }}</td>
        </tr>
        {% endfor %}
    </table>
<div class="navigation">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}